@media (max-width: 768px) {
  header .brand img {
    width: 150px;
  }

  header .hamburguer {
    display: block;
    z-index: 1;
  }

  header nav.show ~ .hamburguer {
    position: fixed;
    top: 36px;
    right: 16px;
    border-top-color: transparent;
  }

  header nav.show ~ .hamburguer::before {
    transform: rotate(135deg);
  }

  header nav.show ~ .hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  header ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--bg-color-dark);
    clip-path: circle(100px at 100% -15%);
    transition: 1s ease-in-out;
    pointer-events: none;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    gap: 0;
  }

  header nav.show ul {
    clip-path: circle(1500px at 100% -15%);
    pointer-events: all;
  }

  header ul a {
    font-size: 1.6rem;
    opacity: 0;
  }

  header nav.show ul a {
    opacity: 1;
  }

  header ul li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  header ul li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  header ul li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  header ul li:nth-child(4) a {
    transition: 0.5s 0.8s;
  }

  header ul li:nth-child(5) a {
    transition: 0.5s 1s;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }
}
