@media (min-width: 800px) {
  main .title-second-variation div img {
    display: block;
  }
}

@media (max-width: 991.98px) {
  p {
    font-size: 1.3rem;
  }

  .noscroll {
    overflow-y: hidden;
  }

  #app {
    gap: 2rem;
  }

  header .brand img {
    width: 150px;
  }

  header .hamburguer {
    display: block;
    z-index: 1;
  }

  header nav.show ~ .hamburguer {
    border-top-color: transparent;
    z-index: 1;
  }

  header nav.show ~ .hamburguer::before {
    transform: rotate(135deg);
  }

  header nav.show ~ .hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  header ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--bg-color-dark);
    clip-path: circle(100px at 100% -15%);
    transition: 1s ease-in-out;
    pointer-events: none;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    gap: 0;
  }

  header nav.show ul {
    clip-path: circle(1500px at 100% -15%);
    pointer-events: all;
  }

  header ul a {
    font-size: 1.6rem;
    opacity: 0;
  }

  header nav.show ul a {
    opacity: 1;
  }

  header ul li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  header ul li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  header ul li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  header ul li:nth-child(4) a {
    transition: 0.5s 0.8s;
  }

  header ul li:nth-child(5) a {
    transition: 0.5s 1s;
  }

  main section {
    flex-direction: column;
    gap: 4rem;
  }

  main #about section {
    flex-direction: column;
    align-items: center;
  }

  main .title-first-variation h1 {
    font-size: 2.5rem;
  }

  main a {
    font-size: 1rem;
  }

  main .text-content {
    width: 100% !important;
    gap: 1rem;
  }

  main .description {
    gap: 1.5rem;
  }

  main #home .title div,
  main .title-second-variation div img {
    display: none;
  }

  .container {
    width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  main .text-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
}
